body{
    background-color: #083b4c;
    font-family: "Ubuntu", sans-serif;
}

.container{
    padding: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.titolo{
    font-size: 80px !important;
    color: white;
}
.box{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg_neutral{
    background-color: #1389b2;
}
.bg_tre_multiplo{
    background-color: #0bd6a1;
}
.bg_cinque_multiplo{
    background-color: #ffd166;
}
.bg_tre_cinque_multiplo{
    background-color: #f0466f;
}